{% extends "admin-layout.twig" %}
{% import '@WestWing/macros/iconSpacer.twig' as spacer %}

{% block menuadmin %}<a class="mdl-navigation__link mdl-navigation__link--current" href="administration"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">lock</i>Administration</a>{% endblock %}

{% block header %}
    <div class="mdl-layout__header-row">
        <button class="mdl-button mdl-js-button mdl-button--icon" onclick="location.href=''">
            <i class="material-icons">arrow_back</i>
        </button>
        <div class="title-wrapper">
            <span class="mdl-layout-title">Administration</span>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone mdl-cell--8-col-tablet full-width">
            <div class="icon-box">
                <a href="administration/users" class="icon manage-users">
                        <span class="icon-avatar">
                            <img src="{{ template_resource_path }}/images/icons/admin/manage-users.svg" alt="Manage Users">
                        </span>
                    <span class="icon-label">Manage users</span>
                </a>

                <a href="administration/groups" class="icon manage-groups">
                        <span class="icon-avatar">
                            <img src="{{ template_resource_path }}/images/icons/admin/manage-groups.svg" alt="Manage Groups">
                        </span>
                    <span class="icon-label">Manage groups</span>
                </a>

                <a href="administration/resources" class="icon manage-resources">
                        <span class="icon-avatar">
                            <img src="{{ template_resource_path }}/images/icons/admin/manage-resources.svg" alt="Manage Resources">
                        </span>
                    <span class="icon-label">Manage resources</span>
                </a>

                <a href="administration/policies" class="icon manage-policies">
                        <span class="icon-avatar">
                            <img src="{{ template_resource_path }}/images/icons/admin/manage-policies.svg" alt="Manage Policies">
                        </span>
                    <span class="icon-label">Manage policies</span>
                </a>

                <a href="administration/access-log" class="icon access-log">
                        <span class="icon-avatar">
                            <img src="{{ template_resource_path }}/images/icons/admin/access-log.svg" alt="Access Log">
                        </span>
                    <span class="icon-label">Access log</span>
                </a>

                <a href="administration/event-log" class="icon event-log">
                        <span class="icon-avatar">
                            <img src="{{ template_resource_path }}/images/icons/admin/event-log.svg" alt="Event Log">
                        </span>
                    <span class="icon-label">Event log</span>
                </a>

                {{ spacer.renderIconSpacer(4) }}
            </div>
        </div>
    </div>
{% endblock %}
