{% extends "admin-layout.twig" %}
{% import '@Theme/macros/iconSpacer.twig' as spacer %}

{% block title %}{{ 'Applications - ' ~ site_title|default('Thomas Admin') }}{% endblock %}

{% block additionalcss %}
    <link rel="stylesheet" href="{{ template_resource_path }}/css/admin-applications.css" />
{% endblock %}

{% block header %}
    <div class="mdl-layout__header-row">
        <button class="mdl-button mdl-js-button mdl-button--icon" onclick="location.href='{{ application_base_uri }}'">
            <i class="material-icons">keyboard_arrow_left</i>
        </button>
        <span class="mdl-layout-title">Applications</span>
    </div>
{% endblock %}

{% block menuapp %}<a class="mdl-navigation__link mdl-navigation__link--current" href="applications"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">apps</i>Applications</a>{% endblock %}

{% block content %}
    <div class="mdl-grid applications applications-list{% if isAllowed('admin-applications-add') %} add-item{% endif %}">
        <div class="icon-box mdl-cell mdl-cell--12-col">
            {% set allowedApps = 0 %}
            {% for applicationEntity in applications %}
                {% set policy = 'manage-application-' ~ applicationEntity.getName() %}
                {% if isAllowed('admin-applications-view') and isAllowed(policy) %}
                    {% set allowedApps = 1 %}
                    {% set favicon = '/data/upload/favicons/' ~ applicationEntity.getName() ~ '.png' %}
                    {% if not defined(document_root ~ favicon) %}
                        {% if applicationEntity.getName() == 'admin' %}
                            {% set favicon = template_resource_path ~ '/img/icons/favicon-admin.svg' %}
                        {% elseif applicationEntity.getName() == 'website' %}
                            {% set favicon = template_resource_path ~ '/img/icons/favicon-website.svg' %}
                        {% else %}
                            {% set favicon = template_resource_path ~ '/img/icons/favicon-default.svg' %}
                        {% endif %}
                    {% endif %}
            <a id="icon_{{ applicationEntity.getName() }}" href="applications/{{ applicationEntity.getName() }}" class="icon {{ applicationEntity.getName() }}{% if not applicationEntity.getEnabled() %} hidden{% endif %}">
                <span class="icon-avatar">
                    <img src="{{ favicon }}" alt="{{ applicationEntity.getTitle() }}">
                </span>
                <span class="icon-label">{{ applicationEntity.getTitle() }}</span>
            </a>
            <div class="mdl-tooltip" for="icon_{{ applicationEntity.getName() }}">
                {{ applicationEntity.description }}
            </div>
                {% endif %}
            {% endfor %}
            {{ spacer.renderIconSpacer(10) }}
        </div>
        {% if allowedApps == 0 %}
        <div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col">
            <h2>Sorry</h2>
            <p>You don't have privilege to view any applications.</p>
        </div>
        {% endif %}

        {% if isAllowed('admin-applications-add') %}
        <button class="add-item mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" onclick="location.href='applications/add'">
            <i class="material-icons">add</i>
        </button>
        {% endif %}
    </div>
{% endblock %}
