{% extends "admin/administration/index.twig" %}
{% import '@WestWing/macros/iconSpacer.twig' as spacer %}

{% block header %}
    <div class="mdl-layout__header-row">
        <button class="mdl-button mdl-js-button mdl-button--icon" onclick="location.href='administration'">
            <i class="material-icons">arrow_back</i>
        </button>
        <div class="title-wrapper">
            <span class="mdl-layout-title">Manage users</span>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone mdl-cell--8-col-tablet full-width">
            {% if data %}
            <div class="icon-box">
                {% for name,row in data %}
                    <a href="administration/users/{{ row.userName }}" class="icon manage-users">
                        {% if avatar is empty %}
                            {% set avatar = template_resource_path ~ '/images/icons/avatar/man.svg' %}
                        {% elseif row.avatarType == 'file' %}
                            {% set avatar = template_resource_path ~ row.avatar %}
                        {% else %}
                            {% set avatar = row.avatar %}
                        {% endif %}
                        <span class="icon-avatar">
                            <img src="{{ avatar }}" alt="{{ row.displayName }}">
                        </span>
                        <span class="icon-label">{{ row.displayName }}</span>
                    </a>
                {% endfor %}

                {{ spacer.renderIconSpacer(8) }}
            </div>
            {% else %}
            <div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
                <div class="mdl-cell mdl-cell--6-col mdl-cell--3-col-phone mdl-cell--6-col-tablet">
                    <h3>We're sorry</h3>
                </div>
                <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone mdl-cell--8-col-tablet">
                    <p>No resources available at the moment.</p>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
