{% extends "layout.twig" %}
{% import '@WebHemi/macros/renderForm.twig' as _FORM %}

{% block title %}{{ title }} - {{ parent() }}{% endblock %}

{% block header %}
    <div class="container">
        <a href="#" class="nav material-icons">menu</a>
        <h1><a href="" class="thomas">Thomas von Fürstenfeld</a></h1>
    </div>
{% endblock %}

{% block content %}
    {% if fixPost %}
        <section>
            <article>
                <h2>{{ fixPost.title }}</h2>
                <p class="summary">
                    {{ fixPost.contentLead }}
                </p>
                <p class="author"><a href="user/{{ fixPost.author.username }}" alt="{{ fixPost.author.name }}">{{ fixPost.author.name }}</a></p>
            </article>
        </section>
    {% endif %}

    <section>
        {% for blogPost in blogPosts %}
            <article>
                <div class="header">
                    {% set avatar = blogPost.author.avatar %}
                    {% if not fileExists(avatar) %}
                        {% set avatar =  application.resourcePath ~ '/img/avatars/a_man.svg' %}
                    {% endif %}
                    <a class="avatar" href="user/{{ blogPost.author.username }}" alt="{{ blogPost.author.name }}"><img src="{{ avatar }}"></a>
                    <p class="meta">
                        <span class="user"><a href="user/{{ blogPost.author.username }}" alt="{{ blogPost.author.name }}">{{ blogPost.author.name }}</a></span>

                        {% if blogPost.author.mood is not empty %}
                            <span class="mood">:{{ blogPost.author.mood[1]|default('slight_smile') }}: {{ blogPost.author.mood[0] }}</span>
                        {% endif %}
                        <br>

                        {% if blogPost.publishedAt.isToday() %}
                            {% set publishDate = 'Today'|t ~ ', ' ~ blogPost.publishedAt.format('T') %}
                        {% elseif blogPost.publishedAt.isCurrentYear() %}
                            {% set publishDate = blogPost.publishedAt.format('BDT') %}
                        {% else %}
                            {% set publishDate = blogPost.publishedAt.format('Y4BDT') %}
                        {% endif %}
                        <span class="date">{{ 'Published at: %s'|t(publishDate)|raw }},</span>

                        {% if blogPost.location is not empty %}
                            <span class="location">{{ 'In the area of %s'|t(blogPost.location)|raw }}</span>
                        {% endif %}
                        <br>

                        <span class="category">
                            {% set categoryLink = '' %}
                            {% for url,title in blogPost.category %}
                                {% set categoryLink = '<a href="category/' ~ url ~'">' ~ title ~ '</a>' %}
                            {% endfor %}
                            {{ 'In category of %s'|t(categoryLink)|raw }}
                            </span>

                        {% if blogPost.tags|length > 0 %}
                            {% set tagList = '' %}
                            <span class="taglist">,
                                {% for url,title in blogPost.tags %}
                                    {% set tagList = tagList ~ '<a href="tag/' ~ url ~ '">#' ~ title ~ '</a> ' %}
                                {% endfor %}
                                {{ 'with tags: %s'|t(tagList)|raw }}
                            </span>
                        {% endif %}
                    </p>
                </div>
                {% if blogPost.summary is not empty %}
                    <p class="summary">{{ blogPost.summary }}</p>
                {% endif %}
                <div class="preview">
                    {% if blogPost.illustration is not empty %}
                        <a href="{{ blogPost.path }}"><img src="{{ application.resourcePath }}/img/post-illustration-placeholder.jpg" data-src="{{ blogPost.illustration }}"></a>
                    {% endif %}
                    <h2><a href="{{ blogPost.path }}">{{ blogPost.title }}</a></h2>
                    <p>{{ blogPost.contentLead }}</p>
                </div>
                <a class="more" href="{{ blogPost.path }}">{{ 'Read more...'|t }}</a>
            </article>
        {% endfor %}
    </section>
{% endblock %}
