{##
 # Thomas theme for WebHemi
 #
 # @copyright 2012 - 2017 Gixx-web (http://www.gixx-web.com)
 # @license   https://opensource.org/licenses/MIT The MIT License (MIT)
 # @link      http://www.gixx-web.com
 #}
{% extends "layout.twig" %}

{% block header %}
    <div class="container">
        <a href="#" class="nav material-icons">menu</a>
        <h1><a href="" class="thomas">Thomas von Fürstenfeld</a></h1>
    </div>
{% endblock %}

{% block content %}
    {% if fixPost %}
        <section class="post">
            <article>
                {{ fixPost|markdown }}
            </article>
        </section>
    {% endif %}

    <section class="list">
        {% for blogPost in blogPosts %}
            <article>
                <header>
                    {% set avatar = blogPost.author.meta.avatar %}
                    {% if avatar is empty %}
                        {% set avatar =  application.resourcePath ~ '/img/avatars/a_man.svg' %}
                    {% endif %}
                    <a class="avatar" href="{{ blogPost.author.url }}/index.html"><img src="{{ avatar }}" alt="{{ blogPost.author.meta.displayName|default(blogPost.author.userName) }}"></a>
                    <p class="meta">

                        {% set authorLink = '<a href="' ~ blogPost.author.url ~ '/index.html">' ~ blogPost.author.meta.displayName|default(blogPost.author.userName) ~ '</a>' %}
                        <span class="user">{{ 'Author: %s'|t(authorLink)|raw }}</span>

                        {% if blogPost.meta.authorMoodKey is not empty %}
                            <span class="mood">:{{ blogPost.meta.authorMoodKey }}: {{ blogPost.meta.authorMoodName|t }}</span>
                        {% endif %}
                        <br>

                        {% if blogPost.publishedAt.isToday() %}
                            {% set publishDate = 'Today'|t ~ ', ' ~ blogPost.publishedAt.format('T') %}
                        {% elseif blogPost.publishedAt.isCurrentYear() %}
                            {% set publishDate = blogPost.publishedAt.format('BDT') %}
                        {% else %}
                            {% set publishDate = blogPost.publishedAt.format('Y4BDT') %}
                        {% endif %}
                        <span class="date">{{ 'Published at: %s'|t(publishDate)|raw }},</span>

                        {% if blogPost.meta.location is not empty %}
                            <span class="location">{{ 'In the area of %s'|t(blogPost.meta.location)|raw }}</span>
                        {% endif %}
                        <br>

                        <span class="category">
                            {% set categoryLink = '<a href="' ~ blogPost.category.url ~'/index.html">' ~ blogPost.category.title ~ '</a>' %}
                            {{ 'In category of %s'|t(categoryLink)|raw }}
                            </span>

                        {% if blogPost.tags|length > 0 %}
                            {% set tagList = '' %}
                            <span class="taglist">,
                                {% for tag in blogPost.tags %}
                                    {% set tagList = tagList ~ '<a href="' ~ tag.url ~ '/index.html">#' ~ tag.title ~ '</a> ' %}
                                {% endfor %}
                                {{ 'with tags: %s'|t(tagList)|raw }}
                            </span>
                        {% endif %}
                    </p>
                </header>

                {% if blogPost.summary is not empty %}
                    <p class="summary">{{ blogPost.summary }}</p>
                {% endif %}

                <div class="preview">
                    {% if blogPost.meta.illustration is not empty %}
                        <a href="{{ blogPost.path }}"><img src="{{ application.resourcePath }}/img/post-illustration-placeholder.jpg" data-src="{{ blogPost.meta.illustration }}"  alt="{{ blogPost.title }}"></a>
                    {% endif %}
                    <h1><a href="{{ blogPost.path }}" title="{{ blogPost.title }}">{{ blogPost.title }}</a></h1>
                    <p>{{ blogPost.contentLead }}</p>
                </div>

                <a class="more" href="{{ blogPost.path }}">{{ 'Read more...'|t }}</a>
            </article>
        {% endfor %}
    </section>
{% endblock %}
