{##
 # Thomas theme for WebHemi
 #
 # @copyright 2012 - 2017 Gixx-web (http://www.gixx-web.com)
 # @license   https://opensource.org/licenses/MIT The MIT License (MIT)
 # @link      http://www.gixx-web.com
 #}
{% extends "website/index.twig" %}

{% block header %}
    <div class="container">
        <a href="#" class="nav material-icons">menu</a>
        <h1><a href="" class="thomas">Thomas von Fürstenfeld</a><span> - {{ page.type|default('List')|t ~ ': ' ~ page.title }}</span></h1>
    </div>
{% endblock %}

{% block navMainBox %}
    {% set isMainActive = false %}
    {{ parent() }}
{% endblock %}

{% block content %}
    {% if page.title is not empty %}
    <section class="post">
        <article>
            <h1>{{ page.type|default('List')|t }}: {{ page.title }}</h1>
            {% if page.description is not empty %}
            {{ page.description|markdown }}
            {% endif %}
        </article>
    </section>
    {% endif %}
    {{ parent() }}
{% endblock %}
