{% extends "layout.twig" %}

{% block title %}{{ blogPost.title }} - {{ parent() }}{% endblock %}

{% block header %}
    <div class="container">
        <a href="#" class="nav material-icons">menu</a>
        <h1><a href="" class="thomas">Thomas von Fürstenfeld</a> - {{ blogPost.title }}</h1>
    </div>
{% endblock %}

{% block menu_main %}<a class="home" href="">{{ 'News Feed'|t }}</a>{% endblock %}

{% block menuBox %}
    {% for categoryName, categoryTitle in blogPost.category %}
        {% set activeMenu = categoryName|default('posts') %}
    {% endfor %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <section>
        <article>
            <header>
                <h2>{{ blogPost.title }}{{ blogPost.category.key }}</h2>
                {% if blogPost.publishedAt.isToday() %}
                    {% set publishDate = 'Today'|t ~ ', ' ~ blogPost.publishedAt.format('T') %}
                {% elseif blogPost.publishedAt.isCurrentMonth() %}
                    {% set publishDate = blogPost.publishedAt.format('BDT') %}
                {% else %}
                    {% set publishDate = blogPost.publishedAt.format('Y4BDT') %}
                {% endif %}
                <p><span class="date">{{ 'Published at: %s'|t(publishDate) }}</span> | <a href="user/{{ blogPost.author.username }}" alt="{{ blogPost.author.name }}">{{ blogPost.author.name }}</a></p>
                {% if blogPost.illustration is not empty %}
                    <img src="{{ application.resourcePath }}/img/post-illustration-placeholder.jpg" data-src="{{ blogPost.illustration }}">
                {% endif %}
            </header>
            <p>{{ blogPost.contentLead }}</p>
            <p>{{ blogPost.content|markdown }}</p>
        </article>
    </section>
{% endblock %}
