{% extends "layout.twig" %}

{% block content %}
<div class="mdl-grid-x">
    <section id="swipe-pager" class="list two">
    {% for blogPost in blogPosts %}
        <article>
            <div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col">
                <header>
                    <h1><a href="posts/view/{{ blogPost.slug|url_encode }}">{{ blogPost.title }}</a></h1>
                    <p>On {{ blogPost.publishedAt.format('Y-m-d') }} by {{ blogPost.author.name }}</p>
                </header>
                <p>{{ blogPost.content }}</p>
            </div>
        </article>
    {% endfor %}
    </section>
    <div class="pager left"><a href="#previous"><i class="material-icons" role="presentation">navigate_before</i></a></div>
    <div class="pager right"><a href="#next"><i class="material-icons" role="presentation">navigate_next</i></a></div>
</div>
{% endblock %}
