{##
 # Thomas theme for WebHemi
 #
 # @copyright 2012 - 2017 Gixx-web (http://www.gixx-web.com)
 # @license   https://opensource.org/licenses/MIT The MIT License (MIT)
 # @link      http://www.gixx-web.com
 #}
{% extends "layout.twig" %}

{% block title %}{% if blogPost.title is not empty %}{{ blogPost.title }} - {% endif %}Thomas von F端rstenfeld{% endblock %}

{% block additionalBodyAttributes %}class="blog-post"{% endblock %}

{% block additionalHeadElements %}
    <meta name="author" content="{{ blogPost.author.meta.displayName|default(blogPost.author.userName) }}">
    <meta name="description" content="{{ blogPost.meta.description|default(application.description) }}">
    <meta name="subject" content="{{ blogPost.meta.subject|default(application.subject) }}">
    <meta name="keywords" content="{{ blogPost.meta.keywords|default(application.keywords) }}">
    <!-- facebook share -->
    <meta property="og:locale" content="{{ application.locale|default('en_GB') }}">
    <meta property="og:site_name" content="Thomas von F端rstenfeld">
    <meta property="og:title" content="{% if blogPost.title is not empty %}{{ blogPost.title }} - {% endif %}Thomas von F端rstenfeld">
    <meta property="og:type" content="article">
    <meta property="og:description" content="{{ blogPost.contentLead }}">
    <meta property="og:url" content="{{ application.address }}">
    {% if blogPost.meta.shareImage is not empty %}
    <meta property="og:image" content="{{ application.domainAddress ~ blogPost.meta.shareImage }}">
    <meta property="og:image:width" content="600">
    <meta property="og:image:height" content="600">
    {% endif %}
    {% if blogPost.author.meta.socialNetworks.Facebook is not empty %}
    <meta property="fb:admins" content="{{ blogPost.author.meta.socialNetworks.Facebook.admins }}">
    <meta property="fb:app_id" content="{{ blogPost.author.meta.socialNetworks.Facebook.appId }}">
    <meta property="article:author" content="{{ blogPost.author.meta.socialNetworks.Facebook.url }}">
    {% endif %}
    <!-- twitter share -->
    <meta name="twitter:title" content="{{ blogPost.title }}">
    <meta name="twitter:card" content="summary_large_image">
    {% if blogPost.author.twitter_id is not empty %}
    <meta name="twitter:creator" content="@{{ blogPost.author.twitterId }}">
    {% endif %}
    <meta name="twitter:description" content="{{ blogPost.contentLead }}">
    {% if blogPost.meta.shareImage is not empty %}
    <meta name="twitter:image" content="{{ application.domainAddress ~ blogPost.meta.shareImage }}">
    {% endif %}
{% endblock %}

{% block header %}
    <div class="container">
        <a href="#" class="nav material-icons">menu</a>
        <h1><a href="" class="thomas">Thomas von F端rstenfeld</a> - {{ blogPost.title }}</h1>
    </div>
{% endblock %}

{% block navMainBox %}
    {% set isMainActive = false %}
    {{ parent() }}
{% endblock %}

{% block navMenuBox %}
    {% set activeMenu = blogPost.category.name|default('posts') %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <section class="post">
        <article>
            <header>
                <h1>{{ blogPost.title }}</h1>
            </header>

            <p class="meta">
                {% if blogPost.publishedAt.isToday() %}
                    {% set publishDate = 'Today'|t ~ ', ' ~ blogPost.publishedAt.format('T') %}
                {% elseif blogPost.publishedAt.isCurrentYear() %}
                    {% set publishDate = blogPost.publishedAt.format('bDT') %}
                {% else %}
                    {% set publishDate = blogPost.publishedAt.format('Y4bDT') %}
                {% endif %}
                    {% set publishDate = blogPost.publishedAt.format('Y4bDT') %}
                <span class="date">{{ publishDate }}</span>
            </p>
            <p class="lead">
                {{ blogPost.contentLead }}
            {% if blogPost.meta.illustration is not empty %}
                <br>
                <img src="{{ application.resourcePath }}/img/post-illustration-placeholder.jpg" data-src="{{ blogPost.meta.illustration }}">
            {% endif %}
            </p>

            <div class="body">
                {{ blogPost.contentBody|markdown }}
            </div>

            {% if blogPost.author.meta.introduction is not empty %}
            <div class="footer">
                {% set avatar = blogPost.author.meta.avatar %}
                {% if avatar is empty %}
                    {% set avatar =  application.resourcePath ~ '/img/avatars/a_man.svg' %}
                {% endif %}
                <a class="author" href="{{ blogPost.author.url }}/index.html" alt="{{ blogPost.author.meta.displayName|default(blogPost.author.userName) }}"><img src="{{ avatar }}"></a>
                <h5>{{ 'About the author'|t }}</h5>
                <div class="details">
                    {{ blogPost.author.meta.introduction|markdown }}
                </div>
            </div>
            {% endif %}
        </article>
    </section>
{% endblock %}
