{##
 # Thomas theme for WebHemi
 #
 # @copyright 2012 - 2017 Gixx-web (http://www.gixx-web.com)
 # @license   https://opensource.org/licenses/MIT The MIT License (MIT)
 # @link      http://www.gixx-web.com
 #}
{% extends "layout.twig" %}

{% block title %}
    {% if blogPost.title is empty %}
        {{ parent() }}
    {% else %}
        {{ blogPost.title }} - {{ parent() }}
    {% endif %}
{% endblock %}

{% block additionalBodyAttributes %}class="blog-post"{% endblock %}

{% block header %}
    <div class="container">
        <a href="#" class="nav material-icons">menu</a>
        <h1><a href="" class="thomas">Thomas von Fürstenfeld</a> - {{ blogPost.title }}</h1>
    </div>
{% endblock %}

{% block navMainBox %}
    {% set isMainActive = false %}
    {{ parent() }}
{% endblock %}

{% block navMenuBox %}
    {% set activeMenu = blogPost.category.name|default('posts') %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <section class="post">
        <article>
            <header>
                <h1>{{ blogPost.title }}</h1>
            </header>

            <p class="meta">
                {% if blogPost.publishedAt.isToday() %}
                    {% set publishDate = 'Today'|t ~ ', ' ~ blogPost.publishedAt.format('T') %}
                {% elseif blogPost.publishedAt.isCurrentYear() %}
                    {% set publishDate = blogPost.publishedAt.format('bDT') %}
                {% else %}
                    {% set publishDate = blogPost.publishedAt.format('Y4bDT') %}
                {% endif %}
                    {% set publishDate = blogPost.publishedAt.format('Y4bDT') %}
                <span class="date">{{ publishDate }}</span>
            </p>
            <p class="lead">
                {{ blogPost.contentLead }}
            {% if blogPost.illustration is not empty %}
                <br>
                <img src="{{ application.resourcePath }}/img/post-illustration-placeholder.jpg" data-src="{{ blogPost.illustration }}">
            {% endif %}
            </p>

            <div class="body">
                {{ blogPost.contentBody|markdown }}
            </div>

            <div class="footer">
                {% set avatar = blogPost.author.avatar %}
                {% if avatar is empty %}
                    {% set avatar =  application.resourcePath ~ '/img/avatars/a_man.svg' %}
                {% endif %}
                <a class="author" href="{{ blogPost.author.url }}/index.html" alt="{{ blogPost.author.name }}"><img src="{{ avatar }}"></a>
                <h5>{{ 'About the author'|t }}</h5>
                <div class="details">
                    {{ dump(blogPost.author) }}
                </div>
            </div>
        </article>
    </section>
{% endblock %}
