{##
 # Thomas theme for WebHemi
 #
 # @copyright 2012 - 2017 Gixx-web (http://www.gixx-web.com)
 # @license   https://opensource.org/licenses/MIT The MIT License (MIT)
 # @link      http://www.gixx-web.com
 #}
{% extends "layout.twig" %}

{% block title %}{{ userMeta.display_name.getMetaData() }} - {{ parent() }}{% endblock %}

{% block additionalBodyAttributes %}class="blog-post"{% endblock %}

{% block header %}
    <div class="container">
        <a href="#" class="nav material-icons">menu</a>
        <h1><a href="" class="thomas">Thomas von Fürstenfeld</a> - {{ userMeta.display_name.getMetaData() }}</h1>
    </div>
{% endblock %}

{% block navMainBox %}
    <section>
        <ul>
            <li><a class="home" href="">{{ 'News Feed'|t }}</a></li>
            <li><a class="user current" href="{{ '#Url#'|tagParser }}">{{ 'User'|t }}</a></li>
        </ul>
    </section>
{% endblock %}

{% block content %}
    <section>
        <article>
            {{ dump(user) }}
            {{ dump(userMeta) }}
            {{ dump(blogPosts) }}
        </article>
    </section>
{% endblock %}
