{% extends "layout.twig" %}

{% block title %}{{ userMeta.display_name.getMetaData() }} - {{ parent() }}{% endblock %}

{% block header %}
    <div class="container">
        <a href="#" class="nav material-icons">menu</a>
        <h1><a href="" class="thomas">Thomas von Fürstenfeld</a> - {{ userMeta.display_name.getMetaData() }}</h1>
    </div>
{% endblock %}

{% block menu_main %}
    <ul>
        <li><a class="home" href="">{{ 'News Feed'|t }}</a></li>
        <li><a class="user current" href="{{ '[URL]'|tagParser }}">{{ 'User'|t }}</a></li>
    </ul>
{% endblock %}

{% block content %}
    <section>
        <article>
            {{ dump(user) }}
            {{ dump(userMeta) }}
        </article>
    </section>
{% endblock %}
