{% extends "admin/administration/index.twig" %}

{% block header %}
    <div class="mdl-layout__header-row">
        <button class="mdl-button mdl-js-button mdl-button--icon" onclick="location.href='administration/access-log'">
          <i class="material-icons">arrow_back</i>
        </button>
        <div class="title-wrapper">
            <span class="mdl-layout-title">Log: {{ params.date }} #{{ params.rowNum }}</span>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone mdl-cell--8-col-tablet full-width">
        <div id="tablecontent">
            <table summary="Log data" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric">Key</th>
                        <th class="mdl-data-table__cell--non-numeric">Value</th>
                    </tr>
                </thead>
                <tbody>
                {% for key,value in logData %}
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric"><nobr>{{ key }}</nobr></td>
                        <td class="mdl-data-table__cell--non-numeric longtext">
                            {% if value is iterable %}
                                {% for valueKey,valueData in value %}
                                    <strong>{{ valueKey }}</strong>
                                    <pre>{{ valueData|raw }}</pre>
                                {% endfor %}
                            {% else %}
                            <pre>{{ value|raw }}</pre>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
</div>
{% endblock %}
