{% extends "admin/administration/index.twig" %}
{% import '@WestWing/macros/renderForm.twig' as _FORM %}

{% block additionalcss %}
    <link rel="stylesheet" href="{{ template_resource_path }}/css/gps-form.css" />
{% endblock %}

{% block header %}
    <div class="mdl-layout__header-row">
        <button class="mdl-button mdl-js-button mdl-button--icon" onclick="location.href='administration'">
            <i class="material-icons">arrow_back</i>
        </button>
        <div class="title-wrapper">
            <span class="mdl-layout-title">Event Log</span>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="mdl-grid">
        <div class="filterForm mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-grid">
            <form action="{{ form.getAction() }}" name="{{ form.getName() }}" method="{{ form.getMethod() }}">
                {% set elements = form.getElements() %}
                {% for element in elements %}
                    {% if element.getType() == 'select' %}
                        <fieldset>
                            <legend><h5>Select logs</h5></legend>
                            {{ _FORM.renderElement(element) }}
                        </fieldset>
                    {% else %}
                        {{ _FORM.renderElement(element) }}
                    {% endif %}
                {% endfor %}
            </form>
        </div>
        <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone mdl-cell--8-col-tablet full-width">
            {% if logData %}
            <div id="tablecontent">
                <table summary="Event log list" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                    <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric"></th>
                        <th class="mdl-data-table__cell--non-numeric">Time</th>
                        <th class="mdl-data-table__cell--non-numeric">User</th>
                        <th class="mdl-data-table__cell--non-numeric">Event</th>
                        <th class="mdl-data-table__cell--non-numeric">URL</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for index,row in logData %}
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric">
                                <button class="mdl-button mdl-js-button mdl-button--icon" onclick="location.href='administration/event-log/{{ selectedDate }}/{{ index }}';">
                                    <i class="material-icons">info_outline</i>
                                </button>
                            </td>
                            <td class="mdl-data-table__cell--non-numeric"><nobr>{{ row.time }}</nobr></td>
                            <td class="mdl-data-table__cell--non-numeric"><nobr>{{ row.user }}</nobr></td>
                            <td class="mdl-data-table__cell--non-numeric"><nobr>{{ row.event }}</nobr></td>
                            <td class="mdl-data-table__cell--non-numeric"><nobr>{{ row.url }}</nobr></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
                <div class="mdl-cell mdl-cell--6-col mdl-cell--3-col-phone mdl-cell--6-col-tablet">
                    <h3>We're sorry</h3>
                </div>
                <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone mdl-cell--8-col-tablet">
                    <p>No logs available at the moment.</p>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
