{% extends 'layout.twig' %}

{% block title %}
    {{ 'Error 403: Forbidden'|t }} - {{ parent() }}
{% endblock %}

{% block additionalBodyAttributes %}class="blog-post error"{% endblock %}

{% block header %}
    <div class="container">
        <a href="#" class="nav material-icons">menu</a>
        <h1><a href="" class="thomas">Thomas von Fürstenfeld</a><span> - {{ 'Error 403: Forbidden'|t }}</span></h1>
    </div>
{% endblock %}

{% block navMainBox %}
    {% set isMainActive = false %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <section class="post">
        <article>
            <header>
                <h1>{{ 'Error 403: Forbidden'|t }}</h1>
            </header>

            {% set websiteLink = '<a href="' ~ application.domainAddress ~ '">' ~ application.domainName ~ '</a>' %}
            <div class="body">
                {{  '<p>Sorry! You don\'t have access permissions for this page:</p>
                <blockquote><p>%s</p></blockquote>
                <p>Webservers and websites have directories and files that are not open to the public for security reasons.</p>
                <p>Please try the following:</p>
                <ul>
                    <li>If you typed the page address in the Address bar, make sure that it is spelled correctly.</li>
                    <li>Open the %s home page, and then look for links to the information you want.</li>
                    <li>Click the Back button to try another link.</li>
                </ul>'|t(application.address, websiteLink)|raw }}
            </div>
        </article>
    </section>
{% endblock %}
