{% extends 'layout.twig' %}

{% block title %}
    {{ 'Error 500: Internal Server Error'|t }} - {{ parent() }}
{% endblock %}

{% block additionalBodyAttributes %}class="blog-post error"{% endblock %}

{% block header %}
    <div class="container">
        <a href="#" class="nav material-icons">menu</a>
        <h1><a href="" class="thomas">Thomas von Fürstenfeld</a> - {{ 'Error 500: Internal Server Error'|t }}</h1>
    </div>
{% endblock %}

{% block navMainBox %}
    {% set isMainActive = false %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <section class="post">
        <article>
            <header>
                <h1>{{ 'Error 500: Internal Server Error'|t }}</h1>
            </header>

            <div class="body">
                {{ '<p>We apologize, an error occured on our side while handling your request. The details of the incident are recorded and will be investigated shortly.</p>
                <p>In the mean time, please retry your request as it may have been temporary.</p>'|t|raw }}
            </div>
        </article>
    </section>
{% endblock %}
