{% extends "admin-layout.twig" %}
{% import '@Theme/macros/iconSpacer.twig' as spacer %}

{% block additionalHeadElements %}
<link rel="stylesheet" href="{{ application.resourcePath }}/css/admin-dashboard.css" />
{% endblock %}

{% block menudash %}<a class="mdl-navigation__link mdl-navigation__link--current" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">home</i>Dashboard</a>{% endblock %}

{% block content %}
<div class="mdl-grid dashboard">
    {# icon box #}
    <div class="icon-box one-row mdl-cell mdl-cell--12-col">
        {% if isAllowed('admin-applications-list') %}
        <a href="applications" class="icon applications">
            <span class="icon-avatar">
                <img src="{{ application.resourcePath }}/img/icons/applications.svg" alt="Applications">
            </span>
            <span class="icon-label">Applications</span>
        </a>
        {% endif %}

        {% if isAllowed('admin-controlpanel-index') %}
        <a href="control-panel" class="icon control-panel">
            <span class="icon-avatar">
                <img src="{{ application.resourcePath }}/img/icons/control_panel.svg" alt="Control panel">
            </span>
            <span class="icon-label">Control panel</span>
        </a>
        {% endif %}

        <a href="about" class="icon about">
            <span class="icon-avatar">
                <img src="{{ application.resourcePath }}/img/icons/about.svg" alt="About">
            </span>
            <span class="icon-label">About</span>
        </a>

        {{ spacer.renderIconSpacer(8) }}
    </div>
    {# dump #}
    <div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col">
        <h2>User</h2>
        <div class="dump">
            {{ dump(authenticated_user) }}
            {{ dump(authenticated_user_meta) }}
        </div>
        <h2>User Groups</h2>
        <div class="dump">
            {{ dump(user_groups) }}
        </div>
        <h2>User Policies</h2>
        <div class="dump">
            {{ dump(user_policies) }}
        </div>
        <h2>User Group Policiess</h2>
        <div class="dump">
            {{ dump(user_group_policies) }}
        </div>
    </div>
    {# piechart #}
    <div class="dashboard-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col">
        <div class="mdl-grid">
            <svg fill="currentColor" width="200px" height="200px" viewBox="0 0 1 1" class="dashboard-chart mdl-cell mdl-cell--4-col mdl-cell--3-col-desktop">
                <use xlink:href="#piechart" mask="url(#piemask)" />
                <text x="0.5" y="0.5" font-family="Roboto" font-size="0.3" fill="#888" text-anchor="middle" dy="0.1">82<tspan font-size="0.2" dy="-0.07">%</tspan></text>
            </svg>
            <svg fill="currentColor" width="200px" height="200px" viewBox="0 0 1 1" class="dashboard-chart mdl-cell mdl-cell--4-col mdl-cell--3-col-desktop">
                <use xlink:href="#piechart" mask="url(#piemask)" />
                <text x="0.5" y="0.5" font-family="Roboto" font-size="0.3" fill="#888" text-anchor="middle" dy="0.1">82<tspan dy="-0.07" font-size="0.2">%</tspan></text>
            </svg>
            <svg fill="currentColor" width="200px" height="200px" viewBox="0 0 1 1" class="dashboard-chart mdl-cell mdl-cell--4-col mdl-cell--3-col-desktop">
                <use xlink:href="#piechart" mask="url(#piemask)" />
                <text x="0.5" y="0.5" font-family="Roboto" font-size="0.3" fill="#888" text-anchor="middle" dy="0.1">82<tspan dy="-0.07" font-size="0.2">%</tspan></text>
            </svg>
            <svg fill="currentColor" width="200px" height="200px" viewBox="0 0 1 1" class="dashboard-chart mdl-cell mdl-cell--4-col mdl-cell--3-col-desktop">
                <use xlink:href="#piechart" mask="url(#piemask)" />
                <text x="0.5" y="0.5" font-family="Roboto" font-size="0.3" fill="#888" text-anchor="middle" dy="0.1">82<tspan dy="-0.07" font-size="0.2">%</tspan></text>
            </svg>
        </div>
    </div>
    {# graphs #}
    <div class="dashboard-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--8-col-desktop mdl-cell--8-col-tablet mdl-cell--12-col-phone">
        <svg fill="currentColor" viewBox="0 0 500 250" class="dashboard-graph">
            <use xlink:href="#chart" />
        </svg>
        <svg fill="currentColor" viewBox="0 0 500 250" class="dashboard-graph">
            <use xlink:href="#chart" />
        </svg>
    </div>
    {# card1 #}
    <div class="dashboard-updates mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--12-col-phone">
        <div class="mdl-card__title mdl-card--expand mdl-color--teal-300">
            <h2 class="mdl-card__title-text">Updates</h2>
        </div>
        <div class="mdl-card__supporting-text mdl-color-text--grey-600">
            Non dolore elit adipisicing ea reprehenderit consectetur culpa.
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect">Read More</a>
        </div>
    </div>
    {# card2 #}
    <div class="dashboard-options mdl-card mdl-color--deep-purple-500 mdl-shadow--2dp mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--12-col-phone">
        <div class="mdl-card__supporting-text mdl-color-text--blue-grey-50">
            <h3>View options</h3>
            <ul>
                <li>
                    <label for="chkbox1" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                        <input type="checkbox" id="chkbox1" class="mdl-checkbox__input">
                        <span class="mdl-checkbox__label">Click per object</span>
                    </label>
                </li>
                <li>
                    <label for="chkbox2" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                        <input type="checkbox" id="chkbox2" class="mdl-checkbox__input">
                        <span class="mdl-checkbox__label">Views per object</span>
                    </label>
                </li>
                <li>
                    <label for="chkbox3" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                        <input type="checkbox" id="chkbox3" class="mdl-checkbox__input">
                        <span class="mdl-checkbox__label">Objects selected</span>
                    </label>
                </li>
                <li>
                    <label for="chkbox4" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                        <input type="checkbox" id="chkbox4" class="mdl-checkbox__input">
                        <span class="mdl-checkbox__label">Objects viewed</span>
                    </label>
                </li>
            </ul>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--blue-grey-50">Change location</a>
            <div class="mdl-layout-spacer"></div>
            <i class="material-icons">location_on</i>
        </div>
    </div>

    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" style="position: absolute; left: -1000px; top: -1000px; width: 0; height: 0;">
        <defs>
            <mask id="piemask" maskContentUnits="objectBoundingBox">
                <circle cx=0.5 cy=0.5 r=0.49 fill="white" />
                <circle cx=0.5 cy=0.5 r=0.40 fill="black" />
            </mask>
            <g id="piechart">
                <circle cx=0.5 cy=0.5 r=0.5 />
                <path d="M 0.5 0.5 0.5 0 A 0.5 0.5 0 0 1 0.95 0.28 z" stroke="none" fill="rgba(255, 255, 255, 0.75)" />
            </g>
        </defs>
    </svg>

    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 500 250" style="position: absolute; left: -1000px; top: -1000px; width: 0; height: 0;">
        <defs>
            <g id="chart">
                <g id="Gridlines">
                    <line fill="#888888" stroke="#888888" stroke-miterlimit="10" x1="0" y1="27.3" x2="468.3" y2="27.3" />
                    <line fill="#888888" stroke="#888888" stroke-miterlimit="10" x1="0" y1="66.7" x2="468.3" y2="66.7" />
                    <line fill="#888888" stroke="#888888" stroke-miterlimit="10" x1="0" y1="105.3" x2="468.3" y2="105.3" />
                    <line fill="#888888" stroke="#888888" stroke-miterlimit="10" x1="0" y1="144.7" x2="468.3" y2="144.7" />
                    <line fill="#888888" stroke="#888888" stroke-miterlimit="10" x1="0" y1="184.3" x2="468.3" y2="184.3" />
                </g>
                <g id="Numbers">
                    <text transform="matrix(1 0 0 1 485 29.3333)" fill="#888888" font-family="'Roboto'" font-size="9">500</text>
                    <text transform="matrix(1 0 0 1 485 69)" fill="#888888" font-family="'Roboto'" font-size="9">400</text>
                    <text transform="matrix(1 0 0 1 485 109.3333)" fill="#888888" font-family="'Roboto'" font-size="9">300</text>
                    <text transform="matrix(1 0 0 1 485 149)" fill="#888888" font-family="'Roboto'" font-size="9">200</text>
                    <text transform="matrix(1 0 0 1 485 188.3333)" fill="#888888" font-family="'Roboto'" font-size="9">100</text>
                    <text transform="matrix(1 0 0 1 0 249.0003)" fill="#888888" font-family="'Roboto'" font-size="9">1</text>
                    <text transform="matrix(1 0 0 1 78 249.0003)" fill="#888888" font-family="'Roboto'" font-size="9">2</text>
                    <text transform="matrix(1 0 0 1 154.6667 249.0003)" fill="#888888" font-family="'Roboto'" font-size="9">3</text>
                    <text transform="matrix(1 0 0 1 232.1667 249.0003)" fill="#888888" font-family="'Roboto'" font-size="9">4</text>
                    <text transform="matrix(1 0 0 1 309 249.0003)" fill="#888888" font-family="'Roboto'" font-size="9">5</text>
                    <text transform="matrix(1 0 0 1 386.6667 249.0003)" fill="#888888" font-family="'Roboto'" font-size="9">6</text>
                    <text transform="matrix(1 0 0 1 464.3333 249.0003)" fill="#888888" font-family="'Roboto'" font-size="9">7</text>
                </g>
                <g id="Layer_5">
                    <polygon opacity="0.36" stroke-miterlimit="10" points="0,223.3 48,138.5 154.7,169 211,88.5 294.5,80.5 380,165.2 437,75.5 469.5,223.3"/>
                </g>
                <g id="Layer_4">
                    <polygon stroke-miterlimit="10" points="469.3,222.7 1,222.7 48.7,166.7 155.7,188.3 212,132.7 296.7,128 380.7,184.3 436.7,125"/>
                </g>
            </g>
        </defs>
    </svg>
</div>
{% endblock %}
