{% import '@WebHemi/macros/renderForm.twig' as _FORM %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <base href="{% if application_base_uri != '/' %}{{ application_base_uri }}{% endif %}/" />
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{% block title %}Thomas von Fürstenfeld{% endblock %}</title>
        <link rel="apple-touch-icon" sizes="57x57" href="{{ template_resource_path }}/img/icons/thomas/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="{{ template_resource_path }}/img/icons/thomas/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ template_resource_path }}/img/icons/thomas/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ template_resource_path }}/img/icons/thomas/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ template_resource_path }}/img/icons/thomas/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ template_resource_path }}/img/icons/thomas/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ template_resource_path }}/img/icons/thomas/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ template_resource_path }}/img/icons/thomas/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ template_resource_path }}/img/icons/thomas/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="{{ template_resource_path }}/img/icons/thomas/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ template_resource_path }}/img/icons/thomas/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ template_resource_path }}/img/icons/thomas/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ template_resource_path }}/img/icons/thomas/favicon-16x16.png">
        <link rel="manifest" href="{{ template_resource_path }}/img/icons/thomas/manifest.json">
        <meta name="msapplication-config" content="{{ template_resource_path }}/img/icons/thomas/browserconfig.xml" />
        <meta name="theme-color" content="#ffffff">

        <link rel="stylesheet" href="{{ template_resource_path }}/css/material.design.lite/material.min.css" />
        <link rel="stylesheet" href="{{ template_resource_path }}/css/material.design.lite/material.font.css" />
        <link rel="stylesheet" href="{{ template_resource_path }}/css/material.design.lite/material.components.ext.min.css" />
        <link rel="stylesheet" href="{{ template_resource_path }}/css/material.design.lite/material.color.theme.blue-grey-red.min.css" />
        {% block additionalcss %}{% endblock %}
        <link rel="stylesheet" href="{{ template_resource_path }}/css/site.css" />
        <link rel="stylesheet" href="{{ template_resource_path }}/css/highlight/darcula.css" />
    </head>
    <body>
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
            <header class="mdl-layout__header">
            {% block header %}
                <div class="mdl-layout__header-row">
                    <span class="mdl-layout-title">Thomas von Fürstenfeld</span>
                </div>
            {% endblock %}
            </header>
            <div class="mdl-layout__drawer">
                <nav class="mdl-navigation">
                    <a class="mdl-navigation__link" href=""><i class="material-icons" role="presentation">home</i>Main page</a>
                    <div class="mdl-layout-spacer"></div>
                </nav>
            </div>
            <main class="mdl-layout__content">
            {% block content %}
            {% endblock %}
            </main>
        </div>
    </body>
    <script type="application/javascript" src="{{ template_resource_path }}/js/component/highlight.pack.js"></script>
    <script type="application/javascript" src="{{ template_resource_path }}/js/Thomas.js"></script>
    <script type="application/javascript" src="{{ template_resource_path }}/js/material.design.lite/material.min.js"></script>
    <script type="application/javascript" src="{{ template_resource_path }}/js/material.design.lite/material.components.ext.min.js"></script>
    {% block additionaljs %}{% endblock %}
    <script type="application/javascript" src="{{ template_resource_path }}/js/site.js"></script>
</html>
