{##
 # Thomas theme for WebHemi
 #
 # @copyright 2012 - 2017 Gixx-web (http://www.gixx-web.com)
 # @license   https://opensource.org/licenses/MIT The MIT License (MIT)
 # @link      http://www.gixx-web.com
 #}
<!DOCTYPE html>
<html lang="{{ application.language|default('en') }}">
    <head>
        <base href="{%  if application.baseUri != '/' %}{{ application.baseUri }}{% endif %}/" />
        <title>{% block title %}{% if page.type is not empty %}{{ page.type|t }}: {% endif %}{% if page.title is not empty %}{{ page.title }} - {% endif %}Thomas von Fürstenfeld{% endblock %}</title>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0" />
        <meta name="language" content="{{ application.language|default('en') }}" />
        <meta name='robots' content='index,follow' />
        <meta name="theme-color" content="#3B5999">
        <meta name="copyright" content="{{ application.copyright|default('') }}">
        {% block additionalHeadElements %}
            {# add or include <link> or <style> or <meta> elements. #}
            <meta name="description" content="{{ application.description }}" />
            <meta name="subject" content="{{ application.subject }}" />
            <meta name="keywords" content="{{ application.keywords }}" />
            <!-- facebook share -->
            <meta property="og:locale" content="{{ application.locale|default('en_GB') }}" />
            <meta property="og:site_name" content="Thomas von Fürstenfeld" />
            <meta property="og:title" content="{% if page.type is not empty %}{{ page.type|t }}: {% endif %}{% if page.title is not empty %}{{ page.title }} - {% endif %}Thomas von Fürstenfeld" />
            <meta property="og:type" content="article"/>
            <meta property="og:description" content="{{ application.description }}"/>
            <meta property="og:url" content="{{ application.address }}" />
            <!-- twitter share -->
            <meta name="twitter:title" content="{% if page.type is not empty %}{{ page.type|t }}: {% endif %}{% if page.title is not empty %}{{ page.title }} - {% endif %}Thomas von Fürstenfeld" />
            <meta name="twitter:card" content="summary" />
            <meta name="twitter:description" content="{{ application.description }}" />
        {% endblock %}
        <link rel=”me” type="text/html" href=”{{ application.authorLink|default('') }}” />
        <link rel="apple-touch-icon" sizes="57x57" href="{{ application.resourcePath }}/img/icons/thomas/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="{{ application.resourcePath }}/img/icons/thomas/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ application.resourcePath }}/img/icons/thomas/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ application.resourcePath }}/img/icons/thomas/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ application.resourcePath }}/img/icons/thomas/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ application.resourcePath }}/img/icons/thomas/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ application.resourcePath }}/img/icons/thomas/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ application.resourcePath }}/img/icons/thomas/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ application.resourcePath }}/img/icons/thomas/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="{{ application.resourcePath }}/img/icons/thomas/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ application.resourcePath }}/img/icons/thomas/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ application.resourcePath }}/img/icons/thomas/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ application.resourcePath }}/img/icons/thomas/favicon-16x16.png">
        <link rel="manifest" href="{{ application.resourcePath }}/img/icons/thomas/manifest.json">
        <meta name="msapplication-config" content="{{ application.resourcePath }}/img/icons/thomas/browserconfig.xml" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i|Libre+Baskerville:400,700|Roboto+Mono:300,400,700" />
        <link rel="stylesheet" href="{{ application.resourcePath }}/css/site.css" />
        <link rel="stylesheet" href="{{ application.resourcePath }}/css/library/emojione.min.css" />
        <link rel="stylesheet" href="{{ application.resourcePath }}/css/library/highlight.github.css" />
        <script type="application/javascript">
            if (!(window.CSS && window.CSS.supports && window.CSS.supports('--fake-var', 0))) {
                {% if defined('@Theme/error/not-supported-' ~ application.language ~ '.html') %}
                    {% set notSupportedLink = application.resourcePath|replace({'static' : 'view'}) ~ '/error/not-supported-' ~ application.language ~ '.html'  %}
                {% else %}
                    {% set notSupportedLink = application.resourcePath|replace({'static' : 'view'}) ~ '/error/not-supported-en.html'  %}
                {% endif %}
                location.href = '{{ notSupportedLink }}';
            }
        </script>
    </head>
    <body {% block additionalBodyAttributes %}{% endblock %}>
        <header>
            {% block header %}
            <div class="container">
                <a href="#" class="nav material-icons">menu</a>
                <h1><a href="" class="thomas">Thomas von Fürstenfeld</a></h1>
            </div>
            {% endblock %}
        </header>

        <nav>
            <div class="container">
                {% set isMainActive = true %}
                {% block navMainBox %}
                    <section>
                        <ul>
                            <li><a class="home{% if isMainActive %} current{% endif %}" href="">{{ 'News Feed'|t }}</a></li>
                        </ul>
                    </section>
                {% endblock %}

                {% block navMenuBox %}
                    <section>
                        <h2>{{ 'Categories'|t }}</h2>
                        <ul>
                            {% for category in getCategories() %}
                                <li><a class="category category-{{ category.name }}{% if 'Categories' == page.type|default('') and activeMenu == category.name %} current{% endif %}" href="{{ category.path }}/{{ category.name }}/index.html">{{ category.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </section>
                {% endblock %}

                {% block navTagBox %}
                    {% set tags = getTags() %}
                    {% if tags is not empty %}
                    <section>
                        <h2>{{ "Tags"|t }}</h2>
                        <ul>
                            {% for tag in tags %}
                                <li><a class="tag tag-{{ tag.name }}{% if 'Tags' == page.type|default('') and activeMenu == tag.name %} current{% endif %}" href="{{ tag.path }}/{{ tag.name }}/index.html">{{ tag.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </section>
                    {% endif %}
                {% endblock %}

                {% block navArchiveBox %}
                    {% set dates = getDates() %}
                    {% if dates is not empty %}
                    <section>
                        <h2>{{ 'Archive'|t }}</h2>
                        <ul>
                            {% for date in dates %}
                                <li><a class="date date-{{ date.name }}{% if 'Archive' == page.type|default('') and activeMenu == date.name %} current{% endif %}" href="{{ date.path }}/{{ date.name }}/index.html">{{ date.dateTime.format('Y4B') }}</a></li>
                            {% endfor %}
                        </ul>
                    </section>
                    {% endif %}
                {% endblock %}
            </div>
        </nav>

        <main>
            {% block content %}
                {# extend this block in templates. #}
            {% endblock %}
        </main>

        <footer>
            <div class="container">
                {% set year = 'now'|date('Y') %}
                <p>{{ 'Copyright &copy; %d. All rights reserved.'|t(year)|raw }} Thomas von Fürstenfeld.</p>
            </div>
        </footer>

        {% block dialog %}
            {# add or include <dialog> elements. #}
        {% endblock %}
        {% block additionalFootContent %}
            {# add or include <script> elements. #}
        {% endblock %}
        <script type="application/javascript" src="{{ application.resourcePath }}/js/library/stickyfill.min.js"></script>
        <script type="application/javascript" src="{{ application.resourcePath }}/js/library/emojione.min.js"></script>
        <script type="application/javascript" src="{{ application.resourcePath }}/js/library/highlight.pack.js"></script>
        <script type="application/javascript" src="{{ application.resourcePath }}/js/Thomas.js"></script>
        <script type="application/javascript" src="{{ application.resourcePath }}/js/site.js"></script>
    </body>
</html>
